@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icons {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #FF5733, #FFD700); /* Define your gradient colors here */
  }

  .iconify-icon {
    font-size: 50px; /* Adjust the icon size as needed */
    color: transparent; /* Make the icon color transparent */
  }