@tailwind base;
@tailwind components;
@tailwind utilities;

svg.iconify {
    width: 50px; /* Adjust the icon size as needed */
    height: 50px;
    fill: url(#gradient); /* Apply a gradient fill */
  }