@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-items:hover .menu-icons path{
  stroke: white;
}

#webcam{
  transform: scaleX(-1);
  height: 70vh;
}

.loader .object-1{
  height: 450px;
  width: 450px;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, #F00 0%, #FFB40A 100%);
  left: 50%;
  transform: translateX(-50%) translateY(200px);

}