@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icons {
    font-size: 50px; /* Adjust the icon size as needed */
    position: relative;
  }

  .menu-icons::before {
    content: ''; /* Display the icon content */
    background: linear-gradient(45deg, #FF0B0B, #FB5104);
    -webkit-background-clip: text;
    color: transparent;
    display: block;
    position: absolute;
    font-size: 30px;
    left: 0;
    top: 0;
    height: 100px;
    width: 100px;
  }